body {
    background-image: url(../images/b.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container-1, .container-2, .container-3,
.container-4, .container-5 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color:white;
    background-color: rgba(231, 218, 38, 0.08);
    border-bottom: 2px solid black;
}

.container-5 {
    background-image: url(../images/blackjack-classic-background.jpg);
    background-color: #cccccc;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.flex-box-container-1, .flex-box-container-2,
.flex-box-rps, .flex-box-pick-color,
.flex-blackjack-row-1, .flex-blackjack-row-2,
.flex-blackjack-row-3 {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

#flex-box-result {
    display: none;
}

.flex-box-container-2 img {
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 7);
}

#flex-cat-gen {
    display: none;
}

.image-rps {
    filter: brightness(95%)
}

.image-rps:hover {
    filter: brightness(100%);
    filter: blur(2px);
    border-radius: 40%;
}

#reset-div {
    display: none;
}

/*.flex-blackjack-row-1 {
    background: url(../images/blackjack-classic-background.jpg) center;
    color: #ffffff;
    filter: brightness(80%);
}

.flex-blackjack-row-2 {
    background: url(../images/blackjack-classic-background.jpg) 50% 71%;
    color: #ffffff;
}*/

 /* resize the pocker here */
.flex-blackjack-row-1 img {
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row-1 div {
    border: 1px solid black;
    padding: 10px;
    height: 350px;
    text-align: center;
    flex-wrap: wrap;
    flex: 1;
}

.flex-blackjack-row-2 div {
    padding: 10px;
}

.flex-blackjack-row-2 button {
    padding: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

